#krbprice{
	width: 200px;
}
#krbprice strong, #krbprice table, #krbprice a {
	color: white;
	font-family: sans-serif;
	font-size: 12px;
}
#Ka{
    text-transform: capitalize;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
	float: left;
	font-size: 50px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	margin: 0 10px 0 0;
}
.ticker_blue {
	color: white;
	border-radius: 10px;
	padding: 10px;
	background: #15315e;
    background-image: linear-gradient(45deg,#15315e 0%,#55C4F7 85%,#81B1D6 100%);
}
#krbprice a {
	font-size: 10px;
	text-align: right;
}